.about-header {
  background: url('/about.avif');
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;
}
.about-main {
    padding: 1rem;
}
.about-main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 0;
    margin: 0;
}
.main-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 45vw;
}
.about-image {
    width: 100%;
    height: auto;
    padding: 2rem 0;
}
.about-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 45vw;
    padding: 0;
    margin: 0;
}
.about-image-container figure {
    width: 100%;
}
.contact-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0 ;
    border: none;
    border-radius: 20px;
    width: 150px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact-button:hover {
    scale: 1.05;
    transition: all 0.3s ease;
}
.contact-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem 0.5rem;
    border-radius: 20px;
    width: 100%;
    color: black;
}
.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
@media screen and (max-width: 768px) {
    .about-main-content {
        flex-direction: column;
        align-items: center;
    }
    .main-content {
        width: 100%;
    }
    .about-image-container {
        width: 100%;
    }
    .about-image-container figure {
        display: flex;
        flex-direction: column-reverse;
    }
}