.contact-header {
    padding: 20px;
    background: url('/contact.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.map-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
    background: rgba(25, 25, 25, 1);
}
.map {
    width: 85vw;
    height: 400px;
    margin: auto;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}
.contact-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    margin: 2rem;
    gap: 2rem;
}
.contact-details {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
}
.contact-details button {
    display: flex;
    align-items: center;
    background: linear-gradient(35deg, rgb(161, 126, 54) 35%, rgb(194, 177, 104));
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    transition: all 0.3s ease;
}
.contact-details button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.contact-details button p {
    
    color: rgb(255, 255, 255);
}