.header {
  background-image: url('/rights.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}
.header-content {
  gap: 3rem;
  color: rgb(255, 255, 255);
  text-shadow: #000 0px 0px 10px;
}
.content-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 1rem;
  gap: 1rem;
}
.about {
  margin: 0rem 2rem 2rem 2rem;
  gap: 4rem;
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  width: 45vw;
}
.about-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 3rem 0;
}
.heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.heading h1 {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1.5rem;
  border-radius: 35px;
}
hr {
  flex-grow: 1;
  height: 5px;
  background-color: rgb(0, 0, 0);
}
.services {
  margin: 2rem;
}
.service-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly ;
  gap: 2rem;
  margin: 2rem 0;
}
.service-card {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  max-width: 300px;
  width: 90vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.service-card h3 {
  text-align: center;
}
.service-card p {
  font-size: 0.9rem;
  line-height: 2;
  text-align: center;
}
.service-card .service-icon {
  background: #000;
  padding: 2rem;
  border-radius: 50%;
}
.service-icon img {
  width: 100px;
  height: 100px;
}
.meet-attorney {
  margin: 2rem
}
.attorney-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  color: #fff;
  background: rgb(116, 87, 30);
}
.attorney-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 70%;
}
.attorney-content img {
  width: 306px;
  height: 306px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 768px) {
  .about-content-container {
    justify-content: center;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
  }
  .attorney-details {
    width: 100%;
  }
  .attorney-content img {
    width: 100%;
    height: auto;
  }
}
