.post-header {
    background: rgb(25, 25, 25);
    margin: 0;
    padding: 20px;
}
.post-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.post-sidebar {
    width: 25%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 1);
}
.main-post {
    width: 65%;
    margin: 2rem;
}
.main-post img {
    width: 100%;
    height: auto;
}
.recent-posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.recent-posts img {
    width: 250px;
    height: 150px;
}
.post-author, .post-date {
    font-weight: bold;
    padding: 1rem 0;
}
@media screen and (max-width: 768px) {
    .main-post {
        width: 100%;
    }
    .post-sidebar {
        width: 100%;
    }
    .recent-posts {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
    }
}