.service-header {
    background: url('/service.avif');
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: #fff;
}
.service-content {
    padding: 5rem 2rem 6rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
    text-align: center;
}