
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  gap: 1rem;
  padding: 1rem;
  color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-group {
  display: flex;
  gap: 15px;
}
.form-group input {
  max-width: 250px;
  width: 30vw;
  padding: 1rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}
input::placeholder {
  color: #666;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}
textarea::placeholder {
  color: #666;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.submit {
  padding: 0.5rem 2.5rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  background: linear-gradient(35deg, rgb(161, 126, 54) 35%, rgb(194, 177, 104));
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;  
}
.submit:hover {
  background: linear-gradient(35deg, rgb(0, 0, 0) 35%, rgb(0, 0, 0));
  transform: scale(1.1);
  color: #ffffff;
  transition: all 0.3s ease;
}
.submit:focus {
  outline: none;
  background-color: #0f0f0f;
}