.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(24, 24, 24);
    border-top: 5px solid rgb(161, 126, 54);
    color: white;
    padding: 3rem 0;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}
.footer-logo figCaption {
    text-align: center;
    font-size: clamp(0.7rem , 1.5vw, 0.9rem);
}
.footer-mobile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    border-top: 5px solid rgb(161, 126, 54);
    color: white;
}
.footer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}
.footer ul li a:hover {
    color: rgb(161, 126, 54);
}
.trademark {
    background: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 2px solid rgb(179, 161, 111);
    padding: 1rem 2rem;
}
.trademark-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
.trademark-content a {
    text-decoration: none;
    color: rgb(255, 201, 4);
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    transform-origin: left bottom;
    transition: all 0.3s ease;
}
.trademark-content a:hover {
    transform: scale(1.05);
    transform-origin: left bottom;
    transition: all 0.3s ease;
}