.hamBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background: transparent;
}
.logo {
    width: 180px;
}
.hamList {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    min-height: 100vh;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 1rem 0;
    gap: 3rem;
    z-index: 2000;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
    transition: all 1s ease;
}
.hamList li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamList li a {
    text-decoration: none;
    font-size: 1.2rem;
    width: 70vw;
    border-bottom: 2px solid rgb(161, 126, 54);
    color: #000000;
}
.hamButton:hover {
    background-color: #000000;
    color: #ffffff;
    transition: all 1s ease;
}
.Hamdroplist {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0rem 1rem;
    overflow: hidden;
    transition: all 0.3s ease;
}
.Hamdroplist a {
    color: #000000;
    transition: border 0.3s ease;
}
.hamButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    background-color: rgb(161, 126, 54);
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 10px;
    z-index: 2100;
    transition: all 1s ease;
}
.hamButton:hover {
    background-color: #000000;
    color: #ffffff;
    transition: all 1s ease;
}
.bar1, .bar2, .bar3 {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    margin: 4px 0;
    transition: all 0.3s ease;
}
.hamButton:focus .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.hamButton:focus .bar2 {
    opacity: 0;
}
.hamButton:focus .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
.icon {
    color: #000000;
    padding: 0rem 0.5rem;
    transition: all 0.3s ease;
}
.consultation {
    background-color: rgb(161, 126, 54);
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 20px;
    padding: 0.7rem 1rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}
  
  details {
    transition: all 0.3s ease;
  }
  summary {
    cursor: pointer;
    font-weight: bold;
    list-style: none; 
    position: relative;
  }

  summary::before {
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
  }