.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.loading img {
    max-width: 200px;
    margin-bottom: 1rem;
}
.loading-text {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8em;
    color: aliceblue;
}
.loading-icon:nth-child(1) {
    animation: loading 1.15s infinite;
}
.loading-icon:nth-child(2) {
    animation: loading 1.15s 0.35s infinite;
}
.loading-icon:nth-child(3) {
    animation: loading 1.15s 0.7s infinite;
}
@keyframes loading {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}