.review-container {
  background: rgb(35, 35, 35);
  color: rgb(255, 255, 255);
  padding: 1rem 0rem;
}
.custom-bullet {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
.review-blockquote {
  padding: 1rem 0rem;
  gap: 2rem;
}
.review-text {
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
.review-footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
.review-footer p {
  margin-left: 0.5rem;
}
.custom-bullet-active {
  background: rgb(161, 126, 54);
  transform: scale(1.4);
  transition: 0.3s;
}
.review-button {
  background: linear-gradient(35deg, rgb(161, 126, 54) 35%, rgb(194, 177, 104));
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 3rem 0 1rem 0;
  border-radius:  20px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s ease;
}
.review-button:hover {
  background: linear-gradient(35deg, rgb(255, 255, 255), rgb(255, 255, 255));
  color: rgb(0, 0, 0);
  scale: 1.1;
  transition: all 0.5s ease;
}
.review-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 450px;
}
.review-form textarea {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}