:root {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: rgb(24, 24, 24);
}
body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: rgb(24, 24, 24);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}
h1 {
  font-size: clamp(1.2rem, 5vw, 2.2rem);
  font-weight: bold;
}
h2 {
  font-size: clamp(1.15rem, 4vw, 1.8rem);
  font-weight: bold;
}
h3 {
  font-weight: bold;
}
.secondary {
  padding: 0.5rem 2.5rem;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid rgb(116, 90, 40);
  background-color: transparent;
  color: rgb(116, 90, 40);
  cursor: pointer;
  transition: all 0.3s ease;
}
.secondary:hover {
  background-color: rgb(116, 90, 40);
  scale: 1.1;
  color: white;
  transition: all 0.3s ease;
}
button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}
.heading h1 {
  text-align: center;
  padding: 0;
}
ul li {
  font-size: 1rem;
}